<section>
    <div class="welcome">
    <div class="container">
        
            <div class="row">
                <div class="welcome1">
                    <div class="col">
                        <p>Welcome to</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="welcome2">
                    <div class="col">
                        <h2>Paradise Resort</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 wel">
                    <img src="../../../assets/welcome1.jpg" alt="">
                </div>
                <div class="col wel">
                    <p>We deliver authentic experience with minimum impact on the environment. Luxury, elegance,
                        personalized service,
                        and all the contemporary facilities are combined to provide an environmentally friendly
                        hotel. 
                        Don't miss out on our offers. We gurantee
                        you to the best price for allour properties.
                    </p>
                    <h5>We invite you to immerse yourself in our gracious embrace as we weave dreams and memories.</h5>
                </div>
            </div>
            
                        
                   
            <div class="row">
                <div class="col">
                    <div class="welcome4">
                    <button>Location & Directions</button>
                </div>
                </div>

            </div>
         </div>
    </div> 
</section>
