<footer>
    <div class="foot">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul>
                        <li>About Us</li>
                        <li>Terms & Conditions </li>
                        <li>Privacy Policy</li>
                        <li>Rooms</li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li>The Room &  Suites</li>
                        <li>About Us</li>
                        <li>Contact Us</li>
                        <li>Restaurant</li>
                    </ul>
                </div>
                <div class="col">
                    
                    <ul>
                        <li>
                       <b> Address:</b> <br>
                                    198 West 21st Street, <br>
                                    Suite 721 India IN 201301
                        </li>
                        <li>
                            Phone: <br>
                            9508699916
                        </li>
                        <li>
                         Email: <br>
                            <h6>info</h6>
                        </li>
                    </ul>
                </div>
                <div class="col news">
                   Sign up for our newsletter <br>
                    <form action=""> 
                        <input type="text" placeholder="Email "> <button>SEND</button> </form>
                </div>
            </div>
            <div class="row gap">
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col ">
                    <p> <i>Copyright &copy; 2024 All rights reserved</i></p>
                </div>
                
            </div>
        </div>
    </div>
</footer>

