<header>
    <div class="container-fluid">
        <div class="head">
        <div class="row">
           
            <div class="col col">
                <div class="menu">
                <ul>
                    <!-- <li> <a class="nav-link"  [routerLink]="['/']"  routerLinkActive="active">Home</a></li>
                    <li> <a class="nav-link"  [routerLink]="['/services']"  routerLinkActive="active">Services</a></li> -->
                    <!-- <li>Home</li> -->
                   <li><a routerLink="/Home"> Home</a></li>

                    <li>Services</li>
                    <li>Rooms</li>
                    <li>About</li>
                    <!-- <li>Blog</li> -->
                    <!-- <li>Pages</li> -->
                    <li>Contact</li>
                </ul>
            </div>
        </div>
            <div class="col">
                <div class="logo">
                
                    <div class="row">
                        <div class="col">
                            <img src="./../../../assets/logo.png" alt="logo">
    
                        
                    </div>
                    </div>
                
               
            </div>
            </div>
            <div class="col-md-4">
                <div class="connect text-end">
                <ul>
                   <li><i class="pi pi-whatsapp" style="font-size: 1.5rem ;color:whitesmoke"></i></li>
                   <li><i class="pi pi-instagram" style="font-size: 1.5rem;color: whitesmoke"></i></li>
                   <li><i class="pi pi-twitter" style="font-size: 1.5rem;color:whitesmoke"></i></li>
                   <li><i class="pi pi-facebook" style="font-size: 1.5rem;color: whitesmoke"></i></li>
                   <li><i class="pi pi-linkedin" style="font-size: 1.5rem;color: whitesmoke"></i></li>
                   <li><a routerLink="/login"> Login</a></li>
                </ul>
                <!-- <nav>
                    <ul>
                      <li><a routerLink="/datas" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a></li>
                      
                    </ul>
                  </nav> -->
            </div>
            </div>
            
        </div>
        <div class="caption">
        <div class="row">
            <div class="col">
                <h1>Paradise Resort</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4> <i>Unlock to enjoy the view of marine</i></h4>
            </div>
        </div>
    </div>
</div>
</div>
</header> 

