<!-- <section class="book1">
    <div class="back">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="book">
              <div class="accept">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div class="row">
                    <div class="col">
  
                    </div>
                    <div class="col arrival">
  
                      <input type="date" formControlName="dob" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['dob'].errors }" />
                      <div *ngIf="submitted && f['dob'].errors" class="invalid-feedback">
                        <div *ngIf="f['dob'].errors['required']">Date is required</div>
                        <div *ngIf="f['dob'].errors">Date must be a valid date in the format YYYY-MM-DD</div>
  
                      </div>
                    </div>
                    <div class="col">
                      <input type="date" formControlName="dob" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['dob'].errors }" />
                      <div *ngIf="submitted && f['dob'].errors" class="invalid-feedback">
                        <div *ngIf="f['dob'].errors['required']">Date is required</div>
                        <div *ngIf="f['dob'].errors">Date must be a valid date in the format YYYY-MM-DD</div>
  
                      </div>
                    </div>
                    <div class="col text-middle space">
                      <p>
                         <label for="country">country </label> 
                        <select id="country" name="country">
                          <option value="1">Adults</option>
                          <option value="2">1</option>
                          <option value="3">2</option>
                          <option value="4">3</option>
                          <option value="4">4</option>
                          <option value="4">5</option>
                          <option value="4">6</option>
                          <option value="4">7</option>
                          <option value="4">8</option>
                        </select>
                      </p>
                    </div>
                    <div class="col space">
                      <p>
                        <select id="rooms" name="rooms">
                          <option value="1">Room</option>
                          <option value="2">1</option>
                          <option value="3">2</option>
                          <option value="4">3</option>
                          <option value="4">4</option>
                          <option value="4">5</option>
                          <option value="4">6</option>
                          <option value="4">7</option>
                          <option value="4">8</option>
                        </select>
                      </p>
                    </div>
                    <div class="col">
                      <div class="text-center">
                        <button class="btn btn-primary me-2">Book Now</button>
                        <button class="btn btn-secondary" type="reset" (click)="onReset()">Reset</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </section> -->
