<section class="vacation">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="vacation1">
                    <h3>YOUR VACATION AWAITS</h3>
                    <p> <i>Stop dreaming about your bucket list and start living it!</i></p>
                    <button>
                        <h5>CHOOSE A PACKAGE</h5>
                    </button>
                </div>
            </div>
                <div class="col">

                
            </div>

        </div>

    </div>
</section>

