<section>
    <div class="room">
    <div class="container">
    <div class="row">
        <div class="col">
            
            <h2>Our Room Types</h2>
        </div>
    </div>
    
    <div class="row text-center">

        <div class="col">
            
            <img src="../../../assets/sdr.jpg" alt="">
            <h3>Standard Double Room</h3>
            <p>&#8377;5000/per night</p>
        </div>
        
        <div class="col">
            <img src="../../../assets/superior.jpg" alt="">
            <h3>Superior Double Room</h3>
            <p>&#8377;5000/per night</p>
        </div>
        <div class="col">
            <img src="../../../assets/family.jpg" alt="">
            <h3>Family Room</h3>
            <p>&#8377;5000/per night</p>
        </div>
    
    </div>
    <div class="row text-center">
        <div class="col">
            <img src="../../../assets/ssr.jpg" alt="">
            <h3>Standard Single Room</h3>
            <p>&#8377;5000/per night</p>
        </div>
        <div class="col">
            <img src="../../../assets/supriorsingle.jpg" alt="">
            <h3>Superior Single Room</h3>
            <p>&#8377;5000/per night</p>
        </div>
        <div class="col image">
            <img src="./../../../assets/VIP.jpg" alt="">
            <h3>VIP Room</h3>
            <p>&#8377;5000/per night</p>
        </div>
    </div>
</div>
</div>
</section>

